In [14]:
import pandas as pd
import numpy as np 
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
workout = pd.read_csv('workoutlog.csv')
workout.head()

  Activity  Weight  Reps                    DateTime
0       Pu      40    15  2020-09-29 08:45:04.830838
1       Pu      40    20  2020-09-29 08:47:42.839794
2       Pu      40    15  2020-09-29 09:24:34.350691
3        P      40     8  2020-09-29 11:35:26.075974
4       Pu      40    20  2020-09-29 11:36:19.083997

In [7]:
#assign proper types
workout['DateTime'] = pd.to_datetime(workout['DateTime'])
workout['Date'] = workout['DateTime'].dt.date

In [18]:
stats = workout.groupby(['Date','Activity'])
stats.sum()

                     Weight  Reps
Date       Activity
2020-09-29 D            160    73
           P            280    50
           Pu           240   100

In [24]:
stats.mean()

                     Weight       Reps
Date       Activity
2020-09-29 D           32.0  14.600000
           P           40.0   7.142857
           Pu          40.0  16.666667